<div class="dashboard-card-holder">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Carts</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON carts.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Carts contain products and their total costs.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended routerLink="carts" routerLinkActive="active">
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Comments</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON comments.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Comments contain user-generated input reactions for posts.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended routerLink="comments" routerLinkActive="active">
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Posts</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON posts.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Posts contain user-generated input.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Products</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON products.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Products contain items available for users to purchase.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Quotes</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON quotes.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Quotes contain quotes by authors.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Recipes</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON recipes.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Recipes contain instructions for creating food compositions.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Todos</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON todos.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Todos contain notes for pending tasks.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Todos</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON todos.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Todos contain notes for pending tasks.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Users</mat-card-title>
            <mat-card-subtitle>Admin utility for DummyJSON users.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Users contain personal account information.</mat-card-content>
        <mat-card-actions>
            <button mat-fab extended>
                <mat-icon>table_view</mat-icon>
                View
            </button>
        </mat-card-actions>
    </mat-card>
</div>