<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
            <a mat-menu-item routerLink="jsonplaceholder" routerLinkActive="active-link">JSONPlaceholder</a>
            <a mat-menu-item routerLink="dummyjson" routerLinkActive="active-link">DummyJSON</a>
        </ng-template>
    </mat-menu>
    <span>API Testing Waters</span>
    <span class="toolbar-spacer"></span>
</mat-toolbar>
<router-outlet />